{% set application = ( page.title ) %}
{% extends "base.html" -%}
{% block content -%}
<p>{{ applications[application].description }}</p>
{% if applications[application].homepage or applications[application].url -%}
<p><span class="twemoji">{% include ".icons/material/home.svg" %}</span>
<a href="{{ applications[application].homepage or applications[application].url }}">{{ application }} Homepage</a></p>
{% endif -%}
{% if applications[application].support -%}
<p><span class="twemoji">{% include ".icons/fontawesome/brands/twitter.svg" %}</span><a href="{{ applications[application].support }}">NeSI Documentation</a></p>
{% endif -%}

<h2 id="modules">Modules Available</h2>

<table class="version-table">
    <tbody>
        {% for machine in applications[application].machines -%} 
        <tr>
            <td>{{ machine | capitalize }}</td>
            <td>
            <!-- mention default value. -->
            {% for version in applications[application].machines[machine].versions -%} 
                {{ version }}
                {{ "<br>" if not loop.last }}
            {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% if applications[application].licence_type %}
<h2 id="licence">Licence</h2>
<p>{{ application }} is {{ applications[application].licence_type }} software.</p>
{% endif %}
{{ super() }}
{% endblock %}