{% extends "base.html" -%}

# Update Feed

{% block libs %}
    {{ super() }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="{{ base_url }}/assets/javascripts/updates.js"></script>
{% endblock -%}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ base_url }}/assets/stylesheets/updates.css">
{% endblock -%}
{% block content -%}
    {{ super() }}
    <nav style="display: none;" id="md-filter__options">
        <strong>Show Only:</strong>
        <span id="md-filter-tag-container">
        </span>
    </nav>
    <hr>
    <div id="md-feed">
        <div id="md-feed__inner"></div>
        <div class="md-throbber"></div>
    </div>

{% endblock -%}
