{% set ns = namespace() %}
{% for lic in app.network_licences -%}
    {% if lic.faculty_long or lic.faculty_short -%}
        {% set ns.faculty_col = true -%}
    {% endif -%}
{% endfor -%}
<table>
    <thead>
    <tr>
    <th>Institution</th>
{% if ns.faculty_col -%}
    <th>Faculty</th>
{% endif -%}
</tr>
    </thead>
    <tbody>
    {% for lic in app.network_licences -%}
    <tr>
        <td>{{ lic.institution_long or lic.institution_short }}</td>
        {% if ns.faculty_col -%}
        <td>{{ lic.faculty_long or lic.faculty_short }}</td>
        {% endif -%}
    </tr>
    {% endfor -%}
    </tbody>

</table>