{% if not app -%}{% set app = applications[app_name] -%}{% endif -%}
{% set v = namespace() -%}
<p><nav class="md-tags md-tags-ver-{{app_name | lower}}">
    {% if app.versions -%}
        {% for version in app.versions -%}
                {% set v.warning_message = "" -%}
                {% for kvp in app.admin_list -%}
                    {% set key = kvp.keys() | first -%}
                    {% if key == app.default -%}{% set v.default_has_warning = "True" -%}{% endif -%}
                    {% if version == key -%}{% set v.warning_message = kvp[key] | replace('"', '\"') -%}{% endif -%}
                {% endfor -%}
                <button id="mod_{{app_name | lower}}_{{version}}" 
 class="md-tag-ver md-tag {% if version == app.default -%}md-tag-ver-shown {% endif -%}{% if v.warning_message -%}md-tag-ver-warn {% endif -%}"
 {% if v.warning_message -%} title="{{ v.warning_message }}"{% endif -%}
 {% if version == app.default -%} title='Default Version'{% endif -%}
 onclick="changeVersion('{{ app_name }}','{{ version }}'{% if v.warning_message -%}, true{% endif -%})">{{ version }}</button>
        {% endfor -%}     
    {% endif -%}
</nav></p>
<pre><code id="mod_{{app_name | lower}}_code">module load {{app_name}}/{{app.default}}</code></pre>
<div id="mod_{{app_name | lower}}_warn" class="admonition warning" style="display: {% if v.default_has_warning -%}block{% else -%}none{% endif -%}">
    <p class="admonition-title">Warning</p>
    <p class="warning-text">{{ v.warning_message }}</p>
</div>
