hooks:
  - mkdocs_hooks.py
markdown_extensions:
  - toc:
      baselevel: 1
      permalink: true
      toc_depth: 3
      title: On this page
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.snippets:
    # auto_append:
    # - docs/assets/glossary/snippets.md  # Causes massive slowdown. Also, bad.
  - attr_list
  - abbr
  - neoteroi.cards
  - neoteroi.timeline
  - footnotes
extra:
  analytics:
    provider: google
    property: G-TVQR4R1F40
plugins:
  - search
  - redirects:
      map_file: docs/redirect_map.yml
  - awesome-pages:
      filename: .pages.yml
 # - git-authors
  - tags:
      tags: false  # This will keep tags for the purpose of indexing, but not display on page.
  - git-revision-date-localized:
      enable_creation_date: false
  - macros:
      on_error_fail: !ENV [TEST_ENV, false]
      verbose: !ENV [TEST_ENV, false]
      module_name: macro_hooks
      include_dir: overrides
repo_name: GitHub
repo_url: https://github.com/nesi/support-docs
edit_uri: edit/main/docs/
site_description: NeSI Support Documentation
site_dir: public
site_name: NeSI Support Documentation
site_url: https://github.com/nesi/support-docs
extra_css:
  - assets/stylesheets/neoteroi-mkdocs.css
  - assets/stylesheets/footer.css
  - assets/stylesheets/custom_admonations.css
  - assets/stylesheets/theme.css
extra_javascript:
    - assets/javascripts/general.js
theme:
  custom_dir: overrides
  favicon: assets/icons/favicon.ico
  features:
    - navigation.indexes
    # - navigation.sections
    - navigation.instant          # Single Page Application
    - navigation.instant.prefetch # Start loading page on link hover. Insiders only
    - navigation.top              # 'Return to top' button
    # - navigation.prune            # Reduces site size. ALSO BREAKS NAV BEHAVIOR
    - navigation.tracking         # Put anchor in URL
    - navigation.path             # Breadcrumbs. Insiders only
    - content.code.copy
    - content.action.edit
    - header.site_name_homepage
  language: en
  logo: assets/icons/logo.svg
  name: material
  palette:
    - primary: custom
      scheme: default
      toggle:
        icon: material/lightbulb
        name: Switch to dark mode
    - primary: custom
      scheme: slate
      toggle:
        icon: material/lightbulb-outline
        name: Switch to light mode
