site_name: Support Documentation
repo_name: GitHub
repo_url: https://github.com/nesi/support-docs
edit_uri: edit/main/docs/
site_description: Support Documentation
site_dir: public
site_url: https://docs.nesi.org.nz/
theme:
  name: material
  custom_dir: overrides
  favicon: assets/icons/favicon_reannz.ico
  language: en
  logo: assets/icons/logo_reannz.svg
  palette:
    - primary: custom
      scheme: default
      toggle:
        icon: material/lightbulb
        name: Switch to dark mode
    - primary: custom
      scheme: slate
      toggle:
        icon: material/lightbulb-outline
        name: Switch to light mode
  features:
    - navigation.indexes
    - navigation.instant          # Single Page Application
    - navigation.instant.progress
    - navigation.instant.prefetch # Start loading page on link hover. Insiders only
    - navigation.top              # 'Return to top' button
    # - navigation.prune            # Reduces site size. ALSO BREAKS NAV BEHAVIOR
    - navigation.tracking         # Put anchor in URL
    - navigation.path             # Breadcrumbs. Insiders only
    - content.code.copy
    - content.action.edit
    - header.site_name_homepage
    
hooks:
  - mkdocs_hooks.py
markdown_extensions:
  - toc:
      baselevel: 1
      permalink: true
      toc_depth: 3
      title: On this page
  - admonition
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.magiclink
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.snippets:
    # auto_append:
    # - docs/assets/glossary/snippets.md  # Causes massive slowdown. Also, bad.
  - attr_list
  - abbr
  - footnotes
  - def_list
extra:
  slurm: slurm-24.11.6
  project_code: nesi99991
  working_directory: ["nesi", "nobackup", "nesi99991", "introhpc2603"]
  example_script: "example script"
  exercise: "https://docs.google.com/spreadsheets/d/1D5PnhE6iJOB3ZKkDCiBHnk5CNZlhmj_gS-IXKGkkVoI/edit?usp=sharing"
  status: 
  - deprecated
  - new
  - tutorial
  analytics:
    provider: google
    property: G-TVQR4R1F40
plugins:
  - search
  - open-in-new-tab
  - rss:
      categories:
      - tags
      - title
      json_feed_enabled: false
      pretty_print: true
      match_path: .*.md
      feed_title: NeSI Support Docs Updates
      length: 100
      feeds_filenames:
        rss_created: page_creation.xml
        rss_updated: page_update.xml
  - redirects:
      map_file: docs/redirect_map.yml
  - awesome-nav:
      filename: .pages.yml
 # - git-authors
  - tags:
      tags: false  # This will keep tags for the purpose of indexing, but not display on page.
      tags_file: tags.md # Causes A warning now? idk
  - git-revision-date-localized:
      enable_creation_date: false
  - macros:
      on_error_fail: true
      verbose: true 
      module_name: macro_hooks
      include_dir: overrides
extra_css:
  - assets/stylesheets/theme.css
extra_javascript:
    - assets/javascripts/general.js
    - https://status.nesi.org.nz/embed/script.js
