hooks:
  - mkdocs_hooks.py
markdown_extensions:
  - toc:
      baselevel: 1
      permalink: true
      toc_depth: 3
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.snippets:
    auto_append:
    # - docs/assets/glossary/snippets.md  # Causes massive slowdown. Also, bad.
  - attr_list
  - abbr
  - tables
  - neoteroi.cards
  - neoteroi.timeline
  - footnotes
plugins:
  - search
  - redirects:
      map_file: docs/redirect_map.yml
  - literate-nav
  - mkdocs-nav-weight
 # - git-authors
  - tags
  - git-revision-date-localized:
      enable_creation_date: true
  - macros:
      on_error_fail: !ENV [TEST_ENV, false]
      verbose: !ENV [TEST_ENV, false]
      module_name: macro_hooks
      include_dir: overrides
repo_name: GitHub
repo_url: https://github.com/nesi/support-docs-concept
edit_uri: edit/main/docs/
site_description: NeSI Support Documentation
site_dir: public
site_name: NeSI Support Center
site_url: https://github.com/nesi/support-docs-concept
extra_css:
  - assets/stylesheets/neoteroi-mkdocs.css
  - assets/stylesheets/footer.css
  - assets/stylesheets/custom_admonations.css
  - assets/stylesheets/theme.css
  # - assets/stylesheets/supportedApplications.css
extra_javascript:
    - assets/javascripts/general.js
  # - assets/javascripts/supportedApplications.js
nav:
  - "Getting Started": "Getting_Started/"
  - "General": "General/"
  - "Scientific Computing": "Scientific_Computing/"
  - "Storage": "Storage/"
  - "NeSI Service Subscriptions": "NeSI_Service_Subscriptions/"
theme:
  custom_dir: overrides
  favicon: assets/icons/favicon.ico
  features:
    - navigation.indexes
    # - navigation.sections
    - navigation.top
    - navigation.prune
    - content.code.copy
    - content.action.edit 
    - navigation.path # Insiders only

  language: en
  logo: assets/icons/logo.svg
  name: material

  palette:
    - primary: custom
      scheme: default
      toggle:
        icon: material/lightbulb
        name: Switch to dark mode
    - primary: custom
      scheme: slate
      toggle:
        icon: material/lightbulb-outline
        name: Switch to light mode
    # on_post_build: "custom_hooks:check_links" # This doesn't work very well.
    #on_post_build: ":lint"
