# Documentation static site generator & deployment tool
mkdocs
mkdocs-section-index
mkdocs-bootstrap4
mkdocs-material
mkdocs-spellcheck
mkdocs-simple-hooks
mkdocs-macros-plugin
mkdocs-git-authors-plugin
mkdocs-literate-nav
mkdocs-git-revision-date-localized-plugin
mkdocs-redirects @ git+https://github.com/CallumWalley/mkdocs-redirects.git@map_file
mkdocs-nav-weight

neoteroi-mkdocs
codespell
proselint
linkcheckmd
symspellpy


# Add your custom theme if not inside a theme_dir
# (https://github.com/mkdocs/mkdocs/wiki/MkDocs-Themes)
#  mkdocs-material>=5.4.0
