<nav class="md-nav md-nav--secondary" aria-label="Announcements">
    <label class="md-nav__title" for="__toc">
        <span class="md-nav__icon md-icon"></span>
        Announcements
    </label>
    <ul class="md-nav__list" data-md-component="toc" data-md-scrollfix>
        <!-- {% for toc_item in toc %}
        {% include "partials/toc-item.html" %}
        {% endfor %} -->
        <li class="md-nav__item"><a href="" class="md-nav__link">Stuff <em>date</em></a></li>
        <li class="md-nav__item"><a href="" class="md-nav__link">And things <em>date</em></a></li>
        <li class="md-nav__item"><a href="" class="md-nav__link">Other things <em>date</em></a></li>

    </ul>
</nav>
