<div class="tabbed-set tabbed-alternate" data-tabs="0:{{ app.machines | length }}">
    {% for machine in app.machines -%} 
    <input {% if loop.first -%} checked="checked" {% endif -%} id="__tabbed_0_{{ loop.index }}" name="__tabbed_0" type="radio">
    {% endfor %}
    <div class="tabbed-labels">
        {% for machine in app.machines -%} 
        <label for="__tabbed_0_{{ loop.index }}">{{ machine | capitalize }}</label>
        {% endfor %}
    </div>
    <div class="tabbed-content">
    {% for machine_name, machine in app.machines.items() -%}
        {% if machine.default != 'latest' -%}
            {% set latest = machine.default -%}
        {% else -%}
            {% set latest = machine.versions | last -%}
        {% endif -%}
        <div class="tabbed-block">
            <p><nav class="md-tags">
                    {% for version in machine.versions -%} 
                    <a id="mod__ver__{{version|e}}" onclick="changeVersion('{{version}}')" {% if version == latest -%} class="md-tag-ver-shown md-tag-ver md-tag" title="Default Version" {% endif -%}  class="md-tag-ver md-tag">{{ version }}</a>
                    {% endfor %}       
            </nav></p>
            <pre><code>module load {{app_name}}/<span id="mod__ver">{{latest}}</span></code></pre>
        </div>
    {% endfor -%}
    </div>
    <div class="tabbed-control tabbed-control--prev" hidden="">
        <button class="tabbed-button" tabindex="-1" aria-hidden="true"></button>
    </div>
    <div class="tabbed-control tabbed-control--next" hidden="">
        <button class="tabbed-button" tabindex="-1" aria-hidden="true"></button>
    </div>
</div>
