<div class="tabbed-set tabbed-alternate" data-tabs="1:{{ app.machines | length }}" style="--md-indicator-x: 0px; --md-indicator-width: 79px;">
    <input checked="checked" id="__tabbed_1_1" name="__tabbed_1" type="radio">
    <input id="__tabbed_1_2" name="__tabbed_1" type="radio">
    <div class="tabbed-labels">
        {% for machine in app.machines -%} 
        <label for="__tabbed_1_{{ loop.index }}">{{ machine | capitalize }}</label>
        {% endfor %}
    </div>
<div class="tabbed-content">
{% for machine_name, machine in app.machines.items() %}
<div class="tabbed-block">
    <p>
    <nav class="md-tags">
        {% for version in machine.versions -%} 
        <span {% if (version == machine.default or (machine.default == 'latest' and loop.last)) -%} class="md-tag-latest md-tag" title="Default Version" {% else -%} class="md-tag" {% endif -%}>{{ version }}</span>
        {% endfor %}       
    </nav>
    </p>
</div>
{% endfor -%}
<div class="tabbed-control tabbed-control--prev" hidden=""><button class="tabbed-button" tabindex="-1" aria-hidden="true"></button></div><div class="tabbed-control tabbed-control--next" hidden=""><button class="tabbed-button" tabindex="-1" aria-hidden="true"></button></div></div>