<style>
#banner{
    font-size: larger;
    text-align: center;
    background:  var(--md-warning-bg-color);
}
#banner a:link {
    color: blue;
}
#banner a:visited {
    color: purple;
}
#banner a:focus,
#banner a:hover {
    border-bottom: 1px solid;
}
#banner p{
    color: black;
}
</style>
<div id="banner">
    <p>Welcome to our new NeSI Support docs.
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSdBNPmOEy-SqUmktZaoaMXs2VO31W3DaAh6Py_lNf1Td2VBfA/viewform?usp=sf_link">Let us know what you think!</a>
    Or switch back to the 
    <a id="banner-link" href="https://support.nesi.org.nz/{{ redirects[page.url] }}">old docs.</a>
    </p>
</div>
