.md-button.md-button--addcal {
  padding: 0.1em;
  margin: auto;
  font-size: medium;
  padding: 0.5em;
}
.md-button.md-button--addcal > svg {
    height: 24px;
     margin: auto;
    vertical-align: middle;
}

