.md-button.md-button--addcal {
  margin: auto;
  font-size: medium;
}
.md-button.md-button--addcal > svg {
    height: 24px;
     margin: auto;
    vertical-align: middle;
}
#office-hours-buttons {
  display: flex;
}
