.docLink-homepage:before {
    content: " \f15b ";
    /* font-family: "FontAwesome"; */
  	margin-right: 0.2em;
}

/* Custom admonation for software list */

.md-typeset .admonition.software,
.md-typeset details.software {
  margin: 0 0 -1px 0;
  border-radius: 0;
  background-color: var(--md-primary-bg-color);
  border: 1px solid var(--md-default-fg-color);
  /* Nesting here to increase prio */
  &.hide_cluster {
    display: none;
    }
  &.hide_search {
        display: none;
    }
}
.md-typeset .software > .admonition-title,
.md-typeset .software > summary {
    background-color: var(--md-default-bg-color);
}
.md-typeset .software > .admonition-title::before,
.md-typeset .software > summary::before {
    display: none;
}

.docLink-nesidoc:before {
    content: " \f15c ";
    font-family: "Material Icons";
  	margin-right: 0.2em;
}
.btn-cluster {
    padding: 0.4em 0.4em 0.4em 0.4em;
    margin: 0 0.2em 0 0.2em;
    border-radius: .25rem;
    border: 1px var(--md-default-fg-color--light) solid;
}
.btn-cluster:before {
    content: " \f233 ";
    font-family: "FontAwesome";
  	margin-right: 0.2em;
}
.btn-cluster-maui {
  	color: #3c816e;
    border-color: #3c816e;
}
.btn-cluster-mahuika {
    color: #972220;
    border-color: #972220;
}
.active.btn-cluster-maui {
    color:  var(--md-primary-bg-color);
  	background-color: #3c816e;
}
.active.btn-cluster-mahuika {
    color:  var(--md-primary-bg-color);
    background-color: #972220;
}

.grid.flex-card-parent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: stretch;
    justify-content: space-between;
}

.flex-card {
    flex-grow: 1;
}
.flex-card-full {
    flex-basis:100%
}
.app-list-header {
      display: inline;
      }
.docLink {
    display: block;
}
.cardbody {
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    transition: all .5s ease-in-out;
}
.version-table{
    width: max-content;
    flex-grow: 0.9;
}
tr.version-table-row>th {
    padding-left: 0;
    width: auto;
}
.list-group-item.tier1 {
          border-style: solid;
}
.list-group-item.tier2 {
          border-style: dashed;
          color: gray;
}
.list-group-item-application:hover {
    background-color: #f8f9fa00;
}
.article__body ul {
    padding-left: inherit;
}
.card-app-extra{
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.cardbody-description{
    margin-bottom: 0;
    width: 100%;
}
.card-clickable{
  padding: .75rem 1.25rem;
  margin: -0.75rem -1.25rem;
}
.card-clickable:hover {
    background-color: #f8f9fa;
}

table > tr{
    padding: 4px 2px 4px 2px;
}
div#tier2 {
    margin-top: 0.5rem;
}
li {
    list-style: none;
}
/*badges*/
.badge{
    margin: 0 0.5em 0 0.5em;
    color: #fff;
    line-height: 100%;
    vertical-align: middle;
    cursor: pointer;
    padding: 0.2em;
    border-radius: 1pt;
}
.badge-closeable > button {
    background-color: transparent;
    border: 0;
    float: right;
    cursor: pointer;
    padding: 0.4em 0.3em 0.3em 0.6em;
    margin: -0.3em;
}
.badge-closeable > button::after {
    content: " \f057";
    font-family: "FontAwesome";
}
.badge-closeable {
    cursor: default;
}
.badge-cluster {
    float: right;
    border-style: double; 
}
.badge-cluster-maui {
    background-color: #3c816e;
}
.badge-cluster-maui_ancil {
    background-color: #3600b3;
}
.badge-cluster-mahuika {
   background-color: #972220;
}
.badge-domain-biology{
    background-color: #28a745;
}
.badge-domain-chemistry {
    background-color: #ff07d8;
}
.badge-domain-earth_science {
    background-color: #794e00;
}
.badge-domain-engineering{
    background-color: #ff7737;
}
.badge-domain-mathematics {
    background-color: #9935dc;
}
.badge-domain-medical_science {
    background-color: #d10000;
}
.badge-domain-physics {
    background-color: #6495ed;
}
.badge-domain-social_science {
    background-color: #a11d3e;
}
.badge-domain-machine_learning {
    background-color: #ffdd00;
    color: dimgrey;
}
.badge-domain-data_analytics {
    background-color: #feff00;
    color: dimgrey;
}
.badge-domain-social_science {
    background-color: #1797ad;
}
.badge-domain-visualisation {
    display:none;
    box-shadow: 0px 0px 0px 1px #495057 inset;
    background-color: #fea;
}
.badge-domain-language {
    box-shadow: 0px 0px 0px 1px #495057 inset;
    background-color: #eceff1;
    display:none;
}
.badge-licence{
    padding: 0;
    color: red;
    cursor: default;
}
.badge-largeinator{
    padding: 0.4em;
    margin: -0.4em;
    cursor: pointer;
}  
@media (max-width: 560px){
    .badge-domain{
        display:none;
    }
}
@media (max-width: 800px){
    .cardbody-licence{
        display:none;
    }
}
div#updated {
    display: flex;
    font-style: italic;
    color: gray;
    margin: 0 0 5px 0;
}

#srchbar-badge-party {
    border: 1px solid #eceff1;
    border-left: none;
    padding-top: 0.2rem;
}    
/* #srchbar{
    border-right:0;
} */
.md-search-aux{
    display:inline-block;
    width: 100%;
    padding: 0 0 1rem 0;
}
.md-search-aux__inner {
    width: 100%
}
.md-search__icon.md-search-aux__icon{
    color: var(--md-default-fg-color--light);
}
.md-search-aux__input{
    box-shadow: 0 0 0.6rem #0000;
    height: 1.8rem;
    position: relative;
    transition: color .25s,background-color .25s;
    z-index: 2;
}
.md-search__icon[for=__search-aux] {
    position: absolute;
    top: .3rem;
    left: 0.5rem;
    z-index: 2
}
.md-search-aux__form{
    background-color: var(--md-default-bg-color);
    border-radius: 0.1rem;
    box-shadow: 0 0 0.6rem #00000012;
}

.md-source-file{
    display: none; 
    /* This is lazy */
}