:root{
  --nesi-grey : #414f5c;
  --nesi-grey--light: #94a5ad;
  --nesi-yellow :#fcce06;
  --nesi-purple: rgb(202, 159, 213);
  --nesi-orange : rgb(244, 121, 37);
  --nesi-blue : #4fbaed;
  --nesi-red:#ef315e;
  --nesi-green: #cce310;

  [data-md-color-scheme="default"]{
    --md-primary-fg-color:               var(--nesi-red);
    
    --md-accent-fg-color:                var(--nesi-orange);;
    --md-accent-fg-color--transparent:   rgb(244, 121, 37, 0.25);
  }

    /* --md-accent-bg-color:                rgb(210,227,235); */
  [data-md-color-scheme="slate"] {
    --md-primary-fg-color:               var(--nesi-red);
    --md-accent-fg-color:                var(--nesi-orange);;
    --md-accent-fg-color--transparent:   rgb(244, 121, 37, 0.25);

    .nt-card-image>img {
      filter: brightness(0) invert(1);
    }
  }
}
/* Logo biggification */
.md-header__button.md-logo img, .md-header__button.md-logo svg {
  height: 4rem;
  margin: -2rem;
}

/* Version table stuff */
.md-tag.md-tag-ver{
  color: var(--md-code-fg-color);
}
.md-tag.md-tag-ver-shown {
    outline: var(--md-primary-fg-color) 2px solid;
}

.md-tag-ver-warn {
  text-decoration: line-through;
}
.md-typeset__table {
  width: 100%;
}
.md-typeset__table table:not([class]) {
  display: table
}
/* convenience class. Not sure if it is used */
.hidden{
    display: none;
}
/* Get support button */
.md-button-support{
  position: absolute;
  margin: -2rem 0 0 1rem;
  width: 80%;
  text-align: center;
  font-size: 0.7rem;
}
/* Don't duplicate header title */
.md-nav--primary > .md-nav__title {
    display: none;
}
/* fix neotiri card colors */

  /* Make button more buttony */
.md-button--primary {
  box-shadow: grey 2px 2px 2px;
}

/* prerequisite custom admonition */
:root {
  --md-admonition-icon--prerequisite: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M17 9H7V7h10m0 6H7v-2h10m-3 6H7v-2h7M12 3a1 1 0 0 1 1 1 1 1 0 0 1-1 1 1 1 0 0 1-1-1 1 1 0 0 1 1-1m7 0h-4.18C14.4 1.84 13.3 1 12 1c-1.3 0-2.4.84-2.82 2H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2Z"/></svg>')
}

.md-typeset .admonition.prerequisite,
.md-typeset details.prerequisite {
  border-color: rgb(170, 170, 60);
}
.md-typeset .prerequisite > .admonition-title,
.md-typeset .prerequisite > summary {
  background-color: rgba(170, 170, 60, 0.1);
} 
.md-typeset .prerequisite > .admonition-title::before,
.md-typeset .prerequisite > summary::before {
  background-color: rgb(170, 170, 60);
  -webkit-mask-image: var(--md-admonition-icon--prerequisite);
          mask-image: var(--md-admonition-icon--prerequisite);
}
/* Footer */
#new-footer {
  font-family: Lato;
  font-size: 12px;
  font-weight: 400;
  /* MB logo has black border */
  background-color: #101010;
}

#partners {
  height: auto;
  background-color: #101010;
}

#partners #logos img {
  height: 40px;
  margin: 10px;
}

#partners #logos {
  padding: 10px;
  text-align: center;
}

#partners #logos .nesi-footer-logo img {
  margin-right: 100px;
  height: 60px;
}

#partners #logos img {
  height: 40px;
  margin: 10px;
}

[dir=ltr] .md-tabs__list {
  margin-left: 2rem;
}

.md-tabs__link {
  margin-top: -0.1rem;
}
.md-tabs__item {
  height: 1rem;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
}
.md-tabs {
  background-color: var(--md-primary-bg-color);
}
.md-tabs__link {
  background: var(--md-primary-fg-color);
  border: sold 1px var(--md-primary-fg-color);
  padding-bottom: 0.4em;
  padding-left: 0.4em;
  padding-right: 0.4em;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

label#__nav_1_label, label#__nav_2_label, label#__nav_3_label, label#__nav_4_label{
  display: none;
}
