
#feed {
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
    background-color: #fff;
}

.feed-item {
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* .feed-item:last-child {
    border-bottom: none;
} */

.feed-item h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
}

.feed-item .pubDate {
    font-size: 0.9em;
    color: #888;
    margin-bottom: 10px;
}
