name: Check Changed Files
on:
  push:
    paths:
      - docs/**/*.md
jobs: 
  getDiff: # Bit messy to check repo out again. But easier than rethinking this.
    name: Names of changed markdown
    runs-on: ubuntu-latest
    outputs:
      fileList: ${{ steps.diff.outputs.fileList }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 2 # To get proper history.
      - id: diff 
        run: echo "fileList=$(git diff-tree --no-commit-id --name-only -r $GITHUB_SHA **/*.md)" >> "$GITHUB_OUTPUT"
  runChecks:
    needs: getDiff
    uses: ./.github/workflows/checks.yml
    with:
      fileList: ${{needs.getDiff.outputs.fileList}}
