name: Checks
on:
  workflow_dispatch:
    inputs:
      fileList:
          description: 'Files to Lint (space delimited)'
          required: true
          type: string
  workflow_call:
    inputs:
      fileList:
        description: 'Files to Lint'
        required: true
        type: string
jobs:
  spellcheck:
    runs-on: ubuntu-latest
    steps:
    - name: Check out repo.
      uses: actions/checkout@v3
    - name: Run spellchecker.
      uses: rojopolis/spellcheck-github-actions@0.34.0
      with:
        source_files: ${{inputs.fileList}}
  proselint:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo.
        uses: actions/checkout@v3
      - name: Install dependencies
        run: pip install proselint
      - name: Run markdownlint
        run: |
          shopt -s globstar extglob
          python3 checks/run_proselint.py ${{inputs.fileList}} 
  mdlint:
     runs-on: ubuntu-latest
     steps:
       - name: Check out repo.
         uses: actions/checkout@v3
       - name: Install dependencies
         run: npm install -g markdownlint-cli
       - name: Run markdownlint
         run: |
          shopt -s globstar extglob
          markdownlint --disable MD033 --json ${{inputs.fileList}} 2>&1 | checks/parse_markdownlint.py
  metacheck:
     runs-on: ubuntu-latest
     steps:
       - name: Check out repo.
         uses: actions/checkout@v3
       - name: Check markdown meta.
         run: |
          shopt -s globstar extglob
          python3 checks/run_meta_checks.py ${{inputs.fileList}}
