name: Deploy PR branches
on: 
  pull_request:
env:
  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  TARGET_REPO: "support-docs-dev"
  TARGET_OWNER: "CallumWalley"
  WORKFLOW_ID: "deploy.yml"
  DEPLOY_URL: "https://callumwalley.github.io/support-docs-dev"
  HEAD: ${{ github.event.pull_request.head.ref }}
permissions: write-all
jobs:
  demo-deploy:
    # continue-on-error: true
    name: Trigger test deployments
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Workflow in Another Repository
        run: |
          curl -L \
            -X POST \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer ${{ secrets.PAT }}" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            https://api.github.com/repos/${TARGET_OWNER}/${TARGET_REPO}/dispatches \
            -d '{"event_type":"deploy","client_payload":{"pr-branches":"${HEAD}"}}'
      - name: Wait for Workflow Action
        run: |
          # Just give a minute or so to deploy
          # sleep 90
          # curl -L \
          #     -X POST \
          #     -H "Accept: application/vnd.github+json" \
          #     -H "Authorization: Bearer ${{ secrets.PAT }}" \
          #     -H "X-GitHub-Api-Version: 2022-11-28" \
          #     https://api.github.com/repos/${TARGET_OWNER}/${TARGET_REPO}/actions/runs/deploy.yml
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Post messages open requests
        run: |
            msg="Test deployment available at <a href=\"${DEPLOY_URL}/${HEAD}\">${DEPLOY_URL}/${HEAD}</a>"
            changed_pages="$(git diff --name-only origin/main -- '*.md')"
            # maxlines=-5
            if [ -n "${changed_pages}" ]; then
                msg="${msg}<br><br>Seems the following pages differ;<br><ul>"
                for f in ${changed_pages};do
                    maxlines=((maxlines+1))
                    #if [ ${maxlines} -lt 1 ]; then
                    g=${f#*/}; h=${g%.*}
                    msg="${msg}<li><a href=\"${DEPLOY_URL}/${HEAD}/${h}\">${h##*/} target=_blank</a></li>"
                    #fi
                done
                echo "exit loop 1"
                # if [ ${maxlines} -gt 0 ];then
                #     msg="${msg}<li>   ... and ${maxlines} more.</li>"
                # fi
                msg="${msg}</ul>"
            fi
            msg="${msg}<br><em>Test site may take a minute or so to deploy after PR Open or Update.</em>"
            echo "${msg}"
            (gh pr comment ${HEAD} --edit-last --body "${msg}") || (gh pr comment ${HEAD} --body "${msg}")
            echo "::info title=Deploy successful::https://docs.nesi.org.nz/${pr}" 
