name: Deploy PR branches
on: 
  pull_request:
env:
  MODULE_LIST_PATH: docs/assets/module-list.json
  PYTHON_VERSION: 3.x
  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  TARGET_REPO: "support-docs-dev"
  TARGET_OWNER: "nesi"
  WORKFLOW_ID: "deploy.yml"
permissions: write-all
jobs:
  documentation:
    name: Build documentation
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ssh-key: ${{ secrets.SSH_PRIVATE_KEY }}
          fetch-depth: 0
      - name: Get list of dev deployments
        id: dev-deps
        run: |
          echo "branches=$(for pr in $(gh pr list --json headRefName | jq -r '.[].headRefName'); do gh pr checks $pr > /dev/null && printf "${pr} "; done)" >> $GITHUB_OUTPUT
      - name: Trigger Workflow in Another Repository
        run: |
          curl -L \
            -X POST \
            -H "Accept: application/vnd.github+json" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            https://api.github.com/repos/${TARGET_OWNER}/${TARGET_REPO}/dispatches \
            -d '{"event_type":"deploy","client_payload":{"pr-branches"="${{ steps.dev-deps.outputs.branches }}"}'
          
            # gh api \
          #   --method POST \
          #   -H "Accept: application/vnd.github+json" \
          #   -H "X-GitHub-Api-Version: 2022-11-28" \
          #   /repos/${TARGET_OWNER}/${TARGET_REPO}/dispatches \
          #   -f "event_type=deploy" -F "client_payload[pr-branches]=${{ steps.dev-deps.outputs.branches }}"

          # gh workflow run ${WORKFLOW_ID} --repo ${TARGET_OWNER}/${TARGET_REPO} --field pr-branches="${{ steps.dev-deps.outputs.branches }}"
      - name: Post messages to PRs
        run: |
          for pr in ${{ steps.dev-deps.outputs.branches }}; do
            msg="Test deployment available at <a href=\"https://docs.nesi.org.nz/${pr}\">https://docs.nesi.org.nz/${pr}</a>"
            (gh pr comment ${pr} --edit-last --body "${msg}") || (gh pr comment ${pr} --body "${msg}")
          done
