name: Deploy PR branches
on: 
  pull_request:
    branches-ignore: "assets-update"
env:
  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  TARGET_REPO: "mkdocs-demo-deploy"
  TARGET_OWNER: "CallumWalley"
  WORKFLOW_ID: "deploy.yml"
  DEPLOY_URL: "https://callumwalley.github.io/mkdocs-demo-deploy"
  HEAD: ${{ github.event.pull_request.head.ref }}
permissions: write-all
jobs:
  demo-deploy:
    continue-on-error: true
    name: Trigger test deployments
    runs-on: ubuntu-24.04
    steps:
      - name: Trigger Workflow in Another Repository
        continue-on-error: true 
        run: |
          set -x
          set -o xtrace 
          curl -L \
            -X POST \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer ${{ secrets.PAT }}" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            https://api.github.com/repos/${TARGET_OWNER}/${TARGET_REPO}/dispatches \
            -d "{\"event_type\":\"deploy\",\"client_payload\":{\"targets\":\"${GITHUB_REPOSITORY}:${HEAD}\", \"use-cache\":\"true\"}}"
      - name: Post initial loading comment
        id: comment
        run: |
          msg="Deployment in progress...<br><br> \ 
          <img src="https://upload.wikimedia.org/wikipedia/commons/a/ad/YouTube_loading_symbol_3_%28transparent%29.gif" \
          alt="a cool spinny thing"><br><br>Waiting for test environment to finish building, please be patient ☺️"
          comment_id=$(gh api repos/${GITHUB_REPOSITORY}/issues/${{ github.event.pull_request.number }}/comments -f body="${msg}" --jq '.id')        
          echo "comment_id=${comment_id}" >> $GITHUB_OUTPUT
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Wait for target workflow to complete
        continue-on-error: true
        id: wait
        run: |
          echo "Polling for workflow completion..."
      
          while true; do
            run_json=$(gh api \
              repos/${TARGET_OWNER}/${TARGET_REPO}/actions/workflows/${WORKFLOW_ID}/runs \
              --jq '.workflow_runs[0]')
      
            status=$(echo "$run_json" | jq -r '.status')
            conclusion=$(echo "$run_json" | jq -r '.conclusion')
      
            echo "Status: $status"
      
            if [ "$status" = "completed" ]; then
              echo "conclusion=$conclusion" >> $GITHUB_OUTPUT
              echo "completed_at=$(date -u +"%Y-%m-%dT%H:%M:%SZ")" >> $GITHUB_OUTPUT
              break
            fi
      
            sleep 10
          done
        
      - name: Post messages open requests
        continue-on-error: true
        run: |
            conclusion="${{ steps.wait.outputs.conclusion }}"
            finished="${{ steps.wait.outputs.completed_at }}"
        
            if [ "$conclusion" = "success" ]; then
              msg="<strong>Test deployment successful!!</strong> (${finished})<br>Preview available at \
              <a href=\"${DEPLOY_URL}/${GITHUB_REPOSITORY}/${HEAD}\">${DEPLOY_URL}/${GITHUB_REPOSITORY}/${HEAD}</a>"
              changed_pages="$(git diff --name-only origin/main -- '*.md')"
              if [ -n "${changed_pages}" ]; then
                  msg="${msg}<br><br>Seems the following pages differ;<br><ul>"
                  for f in ${changed_pages};do
                      g=${f#*/}; h=${g%.*}
                      msg="${msg}<li><a href=\"${DEPLOY_URL}/${GITHUB_REPOSITORY}/${HEAD}/${h}\" target=_blank>${h##*/}</a></li>"
                  done
                  msg="${msg}</ul>"
              fi
              msg="${msg}<br><br><em><a href="${DEPLOY_URL}">See all deployed demo sites</a></em>"
            else
              msg="Deployment failed (${conclusion})"
            fi
            (gh pr comment ${HEAD} --edit-last --body "${msg}") || (gh pr comment ${HEAD} --body "${msg}")
            #echo "::info title=Deploy successful::${DEPLOY_URL}/${GITHUB_REPOSITORY}/${HEAD}" 
