name: Deploy to gh-pages 
on: 
 push:
    branches: main
 workflow_dispatch:
  inputs:
    dry-run:
      type: boolean
      description: Dry run (will build to 'gh-pages-test')
      default: false
permissions:
  contents: write
env:
  INPUTS_DRYRUN: ${{ inputs.dry-run }}
  MODULE_LIST_PATH: docs/assets/module-list.json
jobs:
  dont_deploy:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion != 'success' }}
    steps:
      - run: exit 1
  deploy:
    runs-on: ubuntu-latest
    # if:  ( ${{ github.event_name }} == 'workflow_dispatch' || ${{ github.event.workflow_run.conclusion == 'success' }} )
    steps:
      - uses: actions/checkout@v3
        with:
         fetch-depth: 0 
      - name: Install dependencies
        run: if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
      - run: echo "cache_id=$(date --utc '+%V')" >> $GITHUB_ENV 
      - uses: actions/cache@v3
        with:
          key: mkdocs-material-${{ env.cache_id }}
          path: .cache
          restore-keys: |
            mkdocs-material-
      - run: mkdocs gh-deploy --verbose --force
