name: Fetch Remote Assets

on:
  workflow_dispatch:
  schedule:
    - cron: '00 12 * * *'

permissions:
  contents: write

jobs:
  fetch:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: true 
          token: ${{ secrets.NESI_PAT }}

      - name: Configure Git
        run: |
          git config user.name "automation"
          git config user.email "automation@users.noreply.github.com"

      - name: Fetch remote assets
        run: bash .github/fetch_includes.sh

      - name: Commit changes (if any)
        run: |
          if ! git diff --quiet; then
            git add -A
            git commit -m "Automatic asset update ($(date +'%Y-%m-%d'))"
            git push origin main
            echo "Changes committed."
          else
            echo "No changes detected."
          fi
