name: Fetch Remote Assets

on:
  workflow_dispatch:
  schedule:
    - cron: '00 12 * * *'

permissions:
  contents: write

jobs:
  fetch:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: true 
          token: ${{ secrets.NESI_PAT }}

      - name: Configure Git
        run: |
          git config user.name "automation"
          git config user.email "automation@users.noreply.github.com"

      - name: Fetch remote assets
        run: bash .github/fetch_includes.sh

      - name: Detect changes
        id: changes
        run: |
          if git diff --quiet; then
            echo "no_changes=true" >> $GITHUB_OUTPUT
          else
            echo "no_changes=false" >> $GITHUB_OUTPUT
          fi
      - name: Commit changes to new branch
        if: steps.changes.outputs.no_changes == 'false'
        run: |
          BRANCH="asset-update"
          git checkout -b $BRANCH
          git config user.name "nesi-service-bot"
          git config user.email "service-bot@nesi.org.nz"
          git add -A
          git commit -m "Automatic asset update ($(date +'%Y-%m-%d'))"
          git push origin $BRANCH

      - name: Create Pull Request
        if: steps.changes.outputs.no_changes == 'false'
        env:
          GH_TOKEN: ${{ secrets.NESI_PAT }}
        run: |
          BRANCH="automation/fetch-includes-$(date +'%Y%m%d')"
          gh pr create \
            --title "Automatic asset update ($(date +'%Y-%m-%d'))" \
            --body "Daily fetch update" \
            --base main \
            --head $BRANCH \
            --assignee "@me"

      - name: Merge Pull Request
        if: steps.changes.outputs.no_changes == 'false'
        env:
          GH_TOKEN: ${{ secrets.NESI_PAT }}
        run: |
          BRANCH="automation/fetch-includes-$(date +'%Y%m%d')"
          PR_NUMBER=$(gh pr list --head $BRANCH --json number -q '.[0].number')
          gh pr merge $PR_NUMBER --merge --admin
